<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <a href="/" class="navbar-brand">
    Blog
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/admin/categories" class="nav-link">Categorias</a>
    </li>
    <li class="nav-item">
      <a href="/admin/articles" class="nav-link">Artigos</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="/logout" class="nav-link">Deslogar</a>
    </li>
  </ul>
</nav>